{% extends 'questions/base.html' %}
{% block title %}QuestionHub{% endblock %}
{% block body %}
<div class="container">
<div class="jumbotron content">

<p>
<ul>
  {% for question in all_questions %}

      <li><h3><a href="{% url 'questions:detail' question.id%}">{{question.content}}</a></h3> </li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


   <a href="{% url 'questions:detail' question.id %}" class = "btn btn-primary btn-sm"> View Details</a>


   <form class="" action="{% url 'questions:question-delete' question.id  %}" method="post" style="display: inline;">
     {% csrf_token %}

     <input type="hidden" name="question_id" value="{{ question.id  }}"/>
     <button type="submit" class="btn btn-default btn-sm" name="button">
       <span class="glyphicon glyphicon-trash"></span>

     </button>

   </form>
  {% endfor%}
</ul>
</p>



</div>
</div>
{% endblock %}


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script> -->
